<h1>For Sale</h1>
<p>Just some stuff I'm selling. Browse the listings and make me an offer.</p>

<ul>
  <li><a href="/">Other Stuff <strong>For Sale</strong></a></li>
  <li><a href="mailto:jared+forsale@codeword.io">Make Me <strong>An Offer</strong></a></li>
  <li><a href="https://github.com/jdpace/forsale">View On <strong>GitHub</strong></a></li>
</ul>
